
.section-services {
	background: $pink;
	color: $white;
	overflow: hidden;
}

.section-services-item {
	display: table;
	min-height: 300px;
	width: 33%;
	float: left;
	box-sizing: border-box;
	padding: 40px 40px 20px;

	&:nth-child(even){
		@extend .pink-variant-2;
	}
}