
body {
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 7px;
		background: $pink;
	}
}

.wrapper {
	background-image: url('../images/jacket-grey-full.jpg');
	background-repeat: no-repeat;
	background-position: center -320px;
	display: block;
	overflow: hidden;
}


.content-loaded {
	opacity: 1;
	transition: opacity 0.8s ease-out;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.inline-block {
	@include inline-block();
}

.pink {
	background-color: $pink;
}

.pink-variant-1 {
	background-color: $pink-variant-1;
}

.pink-variant-2 {
	background-color: $pink-variant-2;
}

.pink-variant-3 {
	background-color: $pink-variant-3;
}

.pink-variant-4 {
	background-color: $pink-variant-4;
}

.hidden-link {
	color: $copy;
	text-decoration: none;
	transition: color 0.4s ease-in-out;

	&:hover {
		color: $pink;
	}
}

.browsehappy {
	background: $white;
	margin-top: 65px;
	text-align: center;
}