
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin inline-block(){
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

@mixin clear-floats(){
	clear: both;
	overflow: hidden;
}

