
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin inline-block(){
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

@mixin clear-floats(){
	clear: both;
	overflow: hidden;
}

@mixin filter(){
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
	opacity: 0.1;
	background: $white;
}

