
.component-footer {
	background: #333333;
	color: #dddddd;
	padding: 20px 0;
}

.copyright-info {
	margin: 0 0 0 40px;
	@include font-size(1.4);
}

.component-footer-link {
	text-decoration: none;
	cursor: pointer;
	color: $white;
	
	transition: color 400ms ease-out;

	&:hover {
		color: $pink;
	}
}